@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-0 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#footer1-15 P {
  text-align: center;
  color: #efefef;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
}
#footer1-15 B {
  font-size: 30px;
}

#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-7 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#header3-12 H3 {
  color: #0d1d3d;
}
#header3-40 H3 {
  font-size: 20px;
  color: #4c6972;
}
#header3-39 H3 {
  font-size: 20px;
  color: #4c6972;
}


#ext_menu-14 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-14 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-14 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-14 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#footer1-15 P {
  text-align: center;
  color: #efefef;
  font-size: 25px;
  font-family: 'Indie Flower', cursive;
}
#footer1-15 B {
  font-size: 30px;
}

#ext_menu-25 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-25 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-25 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-25 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#header3-27 H3 {
  color: #0d1d3d;
}

#header3-37 H3 {
  color: #0d1d3d;
  text-align: left;
}
#content1-38 P {
  text-align: left;
}
#ext_menu-35 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-35.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-35 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-35 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-35 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}

#ext_menu-39 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-39.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-39 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-39 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-39 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#header3-41 H3 {
  color: #0d1d3d;
}

#ext_menu-43 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-43.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-43 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-43 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-43 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#header3-45 H3 {
  color: #0d1d3d;
}
#content1-36 P {
  font-size: 20px;
}

#ext_menu-43 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-43.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-43 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-43 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-43 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
#header3-44 H3 {
  color: #0d1d3d;
}
#content1-45 P {
  font-size: 20px;
}

#header3-6 H3 {
  color: #0d1d3d;
  text-align: left;
}
#content1-7 P {
  text-align: left;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-8 .mbr-navbar__section {
  background: #4c6972;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name a {
  font-family: 'Indie Flower', cursive;
  font-size: 32px;
}
